@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> Contoso Welcome </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to contoso University</h2>
        <p>
            TARpe21 Contoso University Projekt vms
        </p>
        </div>

    <div class="col-md-4">
        <h2>teine heading</h2>
        <p>
            eeeeeeee
        </p>
    </div>
</div>